
 <%= stylesheet_link_tag 'login_signup' %>
 <%= javascript_include_tag 'login_signup' %>

<div class="cover">
  <div class="logmethod container-fluid mt-2">
          <div class="rounded border border-dark w-25 d-flex justify-content-center logmethod">
          <%= link_to image_tag("google.png",class:"rounded-circle img-fluid logo", alt:"Google"), root_path, {class:"rounded-circle container-fluid py-1 mx-2 w-50 h-50"} %>
          <%= link_to image_tag("logo-facebook.png",class:"rounded-circle img-fluid logo", alt:"Facebook"),root_path,{class:"rounded-circle container-fluid py-1 mx-2 w-50 h-50"}  %>
          <%= link_to image_tag("Twitter.png", class:"rounded-circle img-fluid logo", alt:"Twitter"), root_path,{class:"rounded-circle container-fluid py-1 mx-2 w-50 h-50"} %>
          </div>
      </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name),:html =>{class:"w-25 log text-white my-lg-2"}) do |f| %>
          <div class="col text-center logintext">
            <h1><%= t '.title' %></h1>
          </div>

          <div class="field py-2 px-2 ">
            <div class="text-center">
              <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control  input",placeholder: "#{t :email}" %><br/>
              <%= f.password_field :password, autocomplete: "current-password",class:"form-control  input",placeholder: "#{t :password}" %>
            </div>

          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field text-center">
              <%= f.check_box :remember_me %>
              <%= f.label :'remember_me' %>
            </div>
          <% end %>
          <%= content_tag(:div, flash[:error], :id => "flash_error", :class => "text-danger small ml-3") if flash[:error] %>
          <%= content_tag(:div, flash[:notice], :id => "flash_notice", :class => "text-danger small ml-3") if flash[:notice] %>
          <%= content_tag(:div, flash[:alert], :id => "flash_alert", :class => "text-danger small ml-3") if flash[:alert] %>
          <div class="col text-center mt-3 actions">
            <div>
              <%= f.submit "#{t '.login_btn'}",class:"btn btn-primary btn-md mb-3 logbtn2" %>
            </div>
            <%= link_to 'Visit as guest', discover_path %>
          </div>
  <% end %>
  <div class="text-center">
    <%= render "devise/shared/links" %>
  </div>
</div>


