<%if mode=="photo"%>
  <%if user.photos.any? %>
      <div class="row us imgrow mt-5  us gocenter container-fluid photo">
        <%for j in (0...get_all_photos(user).count)%>
            <div class="card h-100 us usercard mr-5 ">
              <%= image_tag @arr[j].attached_image,alt:"Card image cap",class:"us card-img-top img-fluid  rounded" %>
              <div class="us lockdiv us rounded-circle text-center">
                <%= image_tag 'profile/lock.png',alt:"lock",class:"us lock" %>
              </div>
              <a href="#" class="us paEdit">Edit</a>
              <div class="us card-body text-center"> Some more card content </div>
            </div>

        <%end%>
      </div>
  <%else%>
    <div class="text-center us-nophoto text-black-50">
        <p>You don't have any Photos. Upload one ?</p>
    </div>
  <%end%>
<% elsif mode=="album" %>
  <%if user.albums.any?%>
    <div class="row us imgrow mt-5  gocenter container-fluid d-none ab">
        <%for j in (0...get_albums_count)%>
            <div class="card h-100 us usercard mr-5 ">
              <div id="<%=user.albums[j].id%>", class="us albumThumbnail">
                <%= image_tag user.albums[j].photos[-1].attached_image,alt:"Card image cap",class:"us card-img-top img-fluid  rounded firstimg" %>
                <%= image_tag user.albums[j].photos[-1].attached_image,alt:"Card image cap",class:"us card-img-top img-fluid  rounded secondimg" %>
                <%= image_tag user.albums[j].photos[-1].attached_image,alt:"Card image cap",class:"us card-img-top img-fluid  rounded thirdimg" %>
                <div class="us rounded-circle photonums text-center"><%="#{user.albums[j].photos.count} Photos"%></div>
              </div>

              <div class="us lockdiv us rounded-circle text-center">
                <%= image_tag 'profile/lock.png',alt:"lock",class:"us lock" %>
              </div>
              <a href="#" class="us paEdit">Edit</a>
              <div class="us card-body text-center"> Some more card content </div>
            </div>

        <%end%>
      </div>
       <!-- Modal for showing picture -->
<div class="us modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="us modal-body"">
                <%= content_tag("a","back", class: "us prev text-primary ") %>
                <%= content_tag("a","next", class: "us next float-right text-primary") %>
                <%= image_tag ' ',alt:"image",class:"img-fluid",id:"us-modal-body-image" %>
            </div>
            <div class="modal-footer">
              <p></p>
            </div>
          </div>
        </div>
      </div>
<!-- Modal for showing picture -->

  <%end%>

<%end%>