<a href="#" class="us addPA-btn font-weight-bolder ab tab ">Add Album</a>
  <%if user.albums.any?%>
    <div class="row us imgrow mt-5  gocenter container-fluid ab tab">
        <%for j in (0...get_albums_count(user))%>
            <div class="card h-100 us usercard mr-5 ">
              <% @current_album_load=get_current_album_load(j)%>
              <%@current_album_photos = @current_album_load.photos%>
              <div id="<%=@current_album_load.id%>", class="us thumbnail">
                <%= image_tag @current_album_photos[-1].attached_image,alt:"Card image cap",class:"us card-img-top img-fluid  rounded firstimg" %>
                <%= image_tag @current_album_photos[-1].attached_image,alt:"Card image cap",class:"us card-img-top img-fluid  rounded secondimg" %>
                <%= image_tag @current_album_photos[-1].attached_image,alt:"Card image cap",class:"us card-img-top img-fluid  rounded thirdimg" %>
                <div class="us rounded-circle photonums text-center">
                <%="#{@current_album_photos.count} Photos"%></div>
              </div>
              <% if @current_album_load.sharing_mode %>
                  <div class="lockdiv us rounded-circle text-center d-none">
                    <%= image_tag 'profile/lock.png',alt:"lock",class:"us lock" %>
                  </div>
              <% else %>
                  <div class="us lockdiv us rounded-circle text-center ">
                    <%= image_tag 'profile/lock.png',alt:"lock",class:"us lock" %>
                  </div>
              <% end %>
                <div class="us lockdiv us rounded-circle text-center d-none">
                  <%= image_tag 'profile/lock.png',alt:"lock",class:"us lock" %>
                </div>
              <a href="#" class="us paEdit">Edit</a>
              <div class="us card-body text-center"> <%= @current_album_load.name%> </div>
            </div>
        <%end%>
      </div>
  <%end%>