<% if followings %>
    <div class="row imgrow mt-5 gocenter container-fluid us following tab ">
        <% for i in (0...followings.size)%>
          <div class="card h-100 fl usercard mr-3 mt-3 ">
              <%= image_tag 'profile/ultra.jpeg',alt:'sample',class:"fl card-img-top img-fluid rounded-circle" %>
              <div class=" fl card-body text-center font-weight-bolder"><%=" #{followings[i].first_name} #{followings[i].last_name}"%></div>
              <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="text-center ">
                      <p class="fl firstchild font-weight-bolder"><%="#{followings[i].photos.size}"%></p>
                      <p class="fl secondchild">Photos</p>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="text-center ">
                      <p class="fl firstchild font-weight-bolder"><%="#{get_albums_count(followings[i])}"%></p>
                      <p class="fl secondchild">Album</p>
                    </div>
                </div>
              </div>
              <div class="fl text-center card-following-btn">
                <%= link_to 'Following', nil,id:followings[i].id,class:"fl follow-button followingsbtn",onClick:"return false;" %>
              </div>
          </div>
        <%end%>
  </div>
<% else %>
  <%# has no followings%>
<% end %>



