<a href="#" class="us addPA-btn font-weight-bolder photo tab">Add Photo</a>
<%if user.photos.any? %>
    <div class="row imgrow mt-5  us gocenter container-fluid photo tab">
      <%for j in (0...@arr.count)%>
          <%@current_photo=@arr[j]%>
          <div data-link="<%=@current_photo.attached_image%>", class="card h-100 us usercard mr-5 thumbnail">
            <%= image_tag @current_photo.attached_image,alt:"Card image cap",class:"us card-img-top img-fluid rounded"%>
            <% if @current_photo.sharing_mode %>
                <div class="us lockdiv us rounded-circle text-center d-none ">
                  <%= image_tag 'profile/lock.png',alt:"lock",class:"us lock" %>
                </div>
            <% else %>
                <div class="us lockdiv us rounded-circle text-center ">
                  <%= image_tag 'profile/lock.png',alt:"lock",class:"us lock" %>
                </div>
            <% end %>

            <a href="#" class="us paEdit">Edit</a>
            <div class="us card-body text-center"><%=@current_photo.description%></div>
            <div class="us title text-center d-none"><%=@current_photo.title%></div>
          </div>

      <%end%>
    </div>
<%else%>
  <div class="text-center us-nophoto text-black-50">
      <p>You don't have any Photos. Upload one ?</p>
  </div>
<%end%>




