<!DOCTYPE html>
<html>

<head>
  <title>Fotobook</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'login_signup' %>
</head>

<body>
  <div class="main-toast">
    <% unless flash.empty? %>
      <script type="text/javascript">
        <% flash.each do |f| %>
          <%type = f[0].to_s %>
          toastr['<%=type %>']('<%= f[1] %>');
        <% end %>
      </script>
    <% end %>
  </div>
  <% if user_signed_in? %>
  <nav class="navbar navbar-expand-sm navbar-light bg-primary py-0">
    <%if current_user.role == 'normal'%>
      <%= link_to "#{t '.title'}",root_path,class:"navbar-brand ml-5 text-white font-weight-bold" %>
    <%else%>
      <%= link_to "#{t '.admin_title'}", manage_photos_path,class:"navbar-brand ml-5 text-white font-weight-bold" %>
    <%end%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse show" id="navbarSupportedContent" style="">
      <form class="form-inline my-2 my-lg-0 w-100">
        <input class="form-control mr-sm-2 h-25 w-50" type="text" placeholder="Search photo/album" aria-label="Search">
      </form>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <div class="input-group w-25 h-25 user-navbar">
              <%= link_to me_path,method: :get,:class=>"link" do%>
                <%if !current_user.avatar.file.nil?%>
                  <%= image_tag current_user.avatar.url,alt:'default',class:"py-0  userava rounded-circle" %>
                <%else%>
                  <%= image_tag 'default.png',alt:'default',class:"py-0  userava rounded-circle" %>
                <%end%>
                <span class="align-self-center mx-2 text-white"><%="#{current_user.first_name} #{current_user.last_name}"%></span>
            </div>
            <%= link_to "#{t '.logout'}", destroy_user_session_path, method: :delete, :class => 'text-white logbtn text-decoration-none' %>
          </li>
        </ul>
      </div>
  </nav>
  <div class="container body">
    <div class="row">
      <div class="col-lg-2 col-12">
        <ul class="nav nav-pills flex-column">
          <%if current_user.role == 'normal'%>
            <% if current_page?(discover_path)%>
              <li class="nav-item">
                <%= link_to "#{t '.feeds'}", root_path,method: :get,class:"nav-link " %>
              </li>
              <li class="nav-item">
                <%= link_to "#{t '.discover'}", discover_path,method: :get,class:"nav-link active" %>
              </li>
            <%else %>
              <li class="nav-item">
                  <%= link_to "#{t '.feeds'}", root_path,method: :get,class:"nav-link active" %>
              </li>
              <li class="nav-item">
                  <%= link_to "#{t '.discover'}", discover_path,method: :get,class:"nav-link" %>
              </li>
            <%end%>
          <%else%>
            <li class="nav-item">
                <%= link_to t('.manage_photos'),manage_photos_path,id:"manage-photo",class:"nav-link admin-nav-item"%>
            </li>
            <li class="nav-item">
                <%= link_to t('.manage_albums'),manage_albums_path,id:"manage-album",class:"nav-link admin-nav-item manange-album"%>
            </li>
            <li class="nav-item">
                <%= link_to t('.manange_users'), manage_users_path, id:"manage-user",class:"nav-link admin-nav-item " %>
            </li>
          <%end%>
        </ul>
      </div>
      <%end%>
      <%end%>
      <%= yield %>
    </div>
  </div>


</body>

</html>