  <%= javascript_include_tag 'feeds' %>
  <%= stylesheet_link_tag 'feeds' %>
    <div class="container body">
        <div class="row">
            <div class="col-lg-2 col-12">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                    <%= link_to 'Feeds', root_path,class:"nav-link " %>
                    </li>
                    <li class="nav-item">
                    <%= link_to 'Discover', discover_discover_path,class:"nav-link active" %>
                    </li>
                </ul>
            </div>
            <div class="col-lg-10 col-12 mid">
                <div class="text-center mt-2">
                        <div class="btn-group btn-group-lg " role="group" aria-label="Basic example">
                                <%=button_tag 'Photo',type: 'button',class:"btn btn-outline-primary"%>
                                <%=button_tag 'Album',type: 'button',class:"btn btn-outline-primary"%>
                        </div>
                </div>
                <div class="container">
                    <!-- row 1 -->
                    <div class="row">
                        <!-- 1st card -->
                        <div class="col-12 col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-6 col-12 py-0 img">
                                            <%= image_tag 'uploads/pnggrad16rgb.png',alt:"sample1",class:"innerImg"%>
                                            </div>
                                            <div class="col-lg-6 col-12 content">
                                                <div class="userInfo ">
                                                <%= image_tag 'default.png',alt:"Card image",class:"card-img-top img-fluid userava" %>
                                                <%= link_to 'Hoang Nguyen', root_path %>
                                                </div>
                                                 <%= content_tag("a", '+ Follow' ,class:"follow-button") %>
                                                <div class="row row-text">
                                                    <h5 class="card-title">Card title</h5><br><br>
                                                    <p>
                                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                                        Dolorum,
                                                        cum atque facilis earum sunt necessitatibus corrupti eos
                                                        excepturi
                                                        nobis sequi, odit repellat veniam, minus debitis soluta fugit
                                                        reprehenderit vitae? Aliquid!
                                                    </p>
                                                </div>

                                                <div class="row px-2">
                                                    <hr>
                                                    <div class="HeartAnimation d-inline-block bot-element"></div>
                                                    <span class="likesspan  bot-element-text">123 Likes</span>
                                                    <span class=" date">18/06/19 16:00:00</span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- end of 1st card -->

                        <!-- 2nd card -->
                       <div class="col-12 col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-6 col-12 py-0 img">
                                            <%= image_tag 'uploads/sample2.jpeg',alt:"sample2",class:"innerImg"%>
                                            </div>
                                            <div class="col-lg-6 col-12 content">
                                                <div class="userInfo ">
                                                <%= image_tag 'default.png',alt:"Card image",class:"card-img-top img-fluid userava" %>
                                                <%= link_to 'Hoang Nguyen', root_path %>
                                                </div>
                                                 <%= content_tag("a", '+ Follow' ,class:"follow-button") %>
                                                <div class="row row-text">
                                                    <h5 class="card-title">Card title</h5><br><br>
                                                    <p>
                                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                                        Dolorum,
                                                        cum atque facilis earum sunt necessitatibus corrupti eos
                                                        excepturi
                                                        nobis sequi, odit repellat veniam, minus debitis soluta fugit
                                                        reprehenderit vitae? Aliquid!
                                                    </p>
                                                </div>

                                                <div class="row px-2">
                                                    <hr>
                                                    <div class="HeartAnimation d-inline-block bot-element "></div>
                                                    <span class="likesspan  bot-element-text">123 Likes</span>
                                                    <span class=" date">18/06/19 16:00:00</span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of 2nd card -->

                    </div>
                    <!-- end of row 1 -->

                     <!-- row 2 -->
                    <div class="row">
                        <!-- 1st card -->
                        <div class="col-12 col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-6 col-12 py-0 img">
                                            <%= image_tag 'uploads/sample3.jpg',alt:"sample1",class:"innerImg"%>
                                            </div>
                                            <div class="col-lg-6 col-12 content">
                                                <div class="userInfo ">
                                                <%= image_tag 'default.png',alt:"Card image",class:"card-img-top img-fluid userava" %>
                                                <%= link_to 'Hoang Nguyen', root_path %>
                                                </div>
                                                 <%= content_tag("a", '+ Follow' ,class:"follow-button") %>
                                                <div class="row row-text">
                                                    <h5 class="card-title">Card title</h5><br><br>
                                                    <p>
                                                       Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                                        Dolorum,
                                                        cum atque facilis earum sunt necessitatibus corrupti eos
                                                        excepturi
                                                        nobis sequi, odit repellat veniam, minus debitis soluta fugit
                                                        reprehenderit vitae? Aliquid!
                                                    </p>
                                                </div>

                                                <div class="row px-2">
                                                    <hr>
                                                    <div class="HeartAnimation d-inline-block bot-element"></div>
                                                    <span class="likesspan  bot-element-text">123 Likes</span>
                                                    <span class=" date">18/06/19 16:00:00</span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- end of 1st card -->

                        <!-- 2nd card -->
                       <div class="col-12 col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-6 col-12 py-0 img">
                                            <%= image_tag 'uploads/sample4.jpg',alt:"sample2",class:"innerImg"%>
                                            </div>
                                            <div class="col-lg-6 col-12 content">
                                                <div class="userInfo ">
                                                <%= image_tag 'default.png',alt:"Card image",class:"card-img-top img-fluid userava" %>
                                                <%= link_to 'Hoang Nguyen', root_path %>
                                                </div>
                                                <%= content_tag("a", '+ Follow' ,class:"follow-button") %>
                                                <div class="row row-text">
                                                    <h5 class="card-title">Card title</h5><br><br>
                                                    <p>
                                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                                        Dolorum,
                                                        cum atque facilis earum sunt necessitatibus corrupti eos
                                                        excepturi
                                                        nobis sequi, odit repellat veniam, minus debitis soluta fugit
                                                        reprehenderit vitae? Aliquid!
                                                    </p>
                                                </div>

                                                <div class="row px-2">
                                                    <hr>
                                                    <div class="HeartAnimation d-inline-block bot-element "></div>
                                                    <span class="likesspan  bot-element-text">123 Likes</span>
                                                    <span class=" date">18/06/19 16:00:00</span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of 2nd card -->

                    </div>
                    <!-- end of row 2 -->
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for showing picture -->
      <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
                <%= content_tag("a","back", class: "prev text-primary ") %>
                <%= content_tag("a","next", class: "next float-right text-primary") %>
                <%= image_tag ' ',alt:"image",class:"img-fluid",id:"modal-body-image" %>

            </div>
            <div class="modal-footer">
              <p></p>
            </div>
          </div>
        </div>
      </div>
<!-- Modal for showing picture -->